#
# Edit this file to configure the BBS and what to build.
#

# Uncomment this next line and set it appropriately.
#BBS_DIR=/usr/home/bbs

# Uncomment only one of the target OS platforms
#FREEBSD=1
#SUNOS=1
#MACOSX=1
#OPENBSD=1

# Unless you really want these old tools, leave these lines unedited.
# Note: they likely won't compile under a modern OS.
ENABLE_BBSTOOL=0
ENABLE_DECTALK=0
ENABLE_DTMF=0
